
<%= form_for(@projects) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :github %>
    <%= f.text_field :github %>
  </div>
  <p><%= f.submit :class => "btn btn-primary" %></p>
<% end %>
